{% extends "eventyay_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load money %}
{% load static %}
{% block title %}{% trans "My Orders" %}{% endblock %}

{% block custom_header %}
    <script defer src="{% static 'eventyay-common/js/orders-filter.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "My Orders" %}</h1>
    <div class="row filter-form">
        <form id="filter-form" action="" method="get">
            <div class="col-md-3 col-xs-6">
                <!-- Add the event filter here -->
                {% bootstrap_field filter_form.event layout='inline' %}
            </div>
            <div class="col-md-2 col-xs-6">
                {% include "eventyay_common/filter_actions.html" %}
            </div>
        </form>
    </div>
    <div id="orders-table">
        {% include "eventyay_common/orders/orders_table.html" %}
    </div>
{% endblock %}
